{
  "extends": "stylelint-config-standard",
  "rules": {
    "number-leading-zero": "never",
    "function-url-quotes": "never",
    "no-descending-specificity": null,
    "at-rule-no-unknown": null,
    "font-family-no-missing-generic-family-keyword": null
  }
}